## *SECTION 1 / SPRINT 1 / NOTE 2*

# Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

In [1]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv' #íŒŒì¼ ìœ„ì¹˜
names = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)'] # ë°ì´í„° ë‚´ë¶€ì— ì—´ë“¤ì˜ ëª…ì¹­ì´ ì—†ëŠ” ê²½ìš°

In [2]:
import pandas as pd

df = pd.read_csv(url, header = None)
df.columns = names

In [3]:
df.head()

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,íˆ¬ìí™œë™í˜„ê¸ˆíë¦„,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°)
0,19/6,"12,578","3,991","3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-1,878","-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77
1,19/9,"13,222","3,825","3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-83,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87
2,19/12,"11,982","2,523","2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-501,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42
3,20/3,"11,784","3,150","3,150","4,156","2,939","2,930",9,"108,594","24,862",...,"-1,392",-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71
4,20/6,"13,188","3,947","3,947","4,020","2,935","2,931",4,"110,282","23,386",...,-214,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46

### lambda í•¨ìˆ˜ 

- í•œë§ˆë””ë¡œ í•¨ìˆ˜ë¥¼ í•œì¤„ë¡œ í‘œí˜„í•˜ê²Œ í•´ì¤€ë‹¤. 

``` python 
lambda x : x.replace(".","") # : ì™¼ìª½ì´ í•¨ìˆ˜ ê³µì‹(?) ì˜¤ë¥¸ìª½ì´ ë°˜í™˜ê°’
```

### apply í•¨ìˆ˜ 

- íŒŒë¼ë¯¸í„°ì— í•¨ìˆ˜ ì¡°ê±´ì‹ì„ ë„£ìœ¼ë©´ ë°ì´í„°ë¥¼ í•˜ë‚˜í•˜ë‚˜ì”© ë„£ê³  ë°˜í™˜í•´ì¤€ë‹¤.

In [4]:
df.ì˜ì—…ì´ìµ = df.ì˜ì—…ì´ìµ.apply(lambda x : x.replace(',','')) # ë°ì´í„° ì† , ë¹¼ê¸° 
df.ì˜ì—…ì´ìµ = df.ì˜ì—…ì´ìµ.astype(int) #ë°ì´í„° í”„ë ˆì„ ì† ì—´ íƒ€ì… ë°”ê¾¸ê¸°

In [5]:
df.ë§¤ì¶œì•¡ = df.ë§¤ì¶œì•¡.apply(lambda x : x.replace(',','')) # ë°ì´í„° ì† , ë¹¼ê¸° 
df.ë§¤ì¶œì•¡ = df.ë§¤ì¶œì•¡.astype(int) #ë°ì´í„° í”„ë ˆì„ ì† ì—´ íƒ€ì… ë°”ê¾¸ê¸°

In [7]:
# ì—´ì¶”ê°€ 

df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡']*100

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) / feature ì´ë¦„ ì€ ì»¬ëŸ¼ ì´ë¦„
  
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [25]:
names = ['êµ¬ë¶„', 'ì¢…ê°€', 'ë°œí–‰ì£¼ì‹ìˆ˜', 'ì‹œê°€ì´ì•¡', 'ì‹œì¥ì ìœ ìœ¨']

In [26]:
df2 = pd.DataFrame([['18ë…„', 101500, 137292497, 13935188445500, 62.0], 
                   ['19ë…„', 93800, 137292497, 12878036218600, 63.5]],
                   columns = names)
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨
0  18ë…„  101500  137292497  13935188445500   62.0
1  19ë…„   93800  137292497  12878036218600   63.5

In [ ]:
PDR = ì‹œê°€ì´ì•¡ / ì‹œì¥ ê·œëª¨  * ì‹œì¥ì ìœ ìœ¨

In [27]:
df2['PDR'] = df2['ì‹œê°€ì´ì•¡']/15000000000000*df2['ì‹œì¥ì ìœ ìœ¨']

In [28]:
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨        PDR
0  18ë…„  101500  137292497  13935188445500   62.0  57.598779
1  19ë…„   93800  137292497  12878036218600   63.5  54.517020

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [45]:
df.loc[0,'ë§¤ì¶œì•¡'].astype(int)

12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [65]:
df.ë§¤ì¶œì•¡

0    12578
1    13222
2    11982
3    11784
4    13188
Name: ë§¤ì¶œì•¡, dtype: int32

In [73]:
fill = df.iloc[:,1:]
fill = fill.fillna(0)

for i in ['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)',
       'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„', 'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ê¸ˆ',
       'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„', 'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'EPS(ì›)'] :
    
    fill['{}'.format(i)] = fill['{}'.format(i)].apply(lambda x : x.replace(',',''))
    fill['{}'.format(i)] = fill['{}'.format(i)].astype(int)

In [75]:
fill.describe()

,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,ìë³¸ì´ê³„,...,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°),ì˜ì—…ì´ìµë¥ 2
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.00000,...,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000
mean,12550.800000,3487.200000,3487.200000,3785.000000,2704.600000,2699.000000,5.600000,108155.000000,22988.20000,85166.80000,...,-2192.80000,27.676000,21.444000,12.532000,9.694000,27.048000,830.29200,1966.000000,12.046000,27.675106
std,664.979097,636.931079,636.931079,1131.079131,863.422724,851.338358,12.481987,1522.396795,2560.38419,1988.82596,...,2763.51139,4.115651,6.601267,0.335738,0.290224,3.554859,18.01957,619.939513,1.898112,4.116711
min,11784.000000,2523.000000,2523.000000,1794.000000,1183.000000,1198.000000,-15.000000,106314.000000,20062.00000,82524.00000,...,-5501.00000,21.060000,9.870000,12.200000,9.370000,23.040000,803.22000,873.000000,9.710000,21.056585
25%,11982.000000,3150.000000,3150.000000,4020.000000,2935.000000,2930.000000,4.000000,107121.000000,20691.00000,83732.00000,...,-4919.00000,26.730000,22.250000,12.350000,9.400000,24.170000,823.16000,2134.000000,10.460000,26.731161
50%,12578.000000,3825.000000,3825.000000,4156.000000,2939.000000,2931.000000,9.000000,108464.000000,23386.00000,85623.00000,...,-329.00000,28.930000,24.360000,12.390000,9.790000,26.910000,836.86000,2135.000000,12.420000,28.929058
75%,13188.000000,3947.000000,3947.000000,4452.000000,3221.000000,3208.000000,13.000000,108594.000000,24862.00000,86896.00000,...,-129.00000,29.930000,24.940000,12.670000,9.950000,29.690000,837.40000,2337.000000,13.770000,29.928723
max,13222.000000,3991.000000,3991.000000,4503.000000,3245.000000,3228.000000,17.000000,110282.000000,25940.00000,87059.00000,...,-86.00000,31.730000,25.800000,13.050000,9.960000,31.430000,850.82000,2351.000000,13.870000,31.730005

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤