## *SECTION 1 / SPRINT 1 / NOTE 4*

---

# Assignment

## 1. Dataset 불러오기
> seaborn 라이브러리의 load_dataset()을 활용해서 iris 데이터셋을 데이터프레임으로 불러옵니다. 데이터프레임의 이름은 df_iris로 합니다. <br>
> df_iris의 shape의 **첫번째 값을 두번째 값으로 나눈 값**을 `res1`에 저장하세요

In [2]:
import seaborn as sns
import numpy as np
np.random.seed(42)
# 이곳에 답안을 작성합니다.

In [3]:
df_iris = sns.load_dataset('iris')

In [4]:
res1 = df_iris.shape[0]/df_iris.shape[1]
res1

30.0

## 2. X 구하기
> df_iris에서 sepal_length만 남겨주세요. 그리고 sepal_length 칼럼의 이름은 x로 바꿉니다

In [5]:
import pandas as pd
pd.DataFrame()
df_iris = pd.DataFrame(df_iris['sepal_length'])
df_iris.columns=['x']
df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

In [6]:
df_iris = df_iris[['sepal_length']]

KeyError: "None of [Index(['sepal_length'], dtype='object')] are in the [columns]"

In [8]:
df_iris.to_frame(name='x')

AttributeError: 'DataFrame' object has no attribute 'to_frame'

## 3. 기초 미분

다음 함수를 미분한 도함수를 구한 후에 num_one 함수를 완성하세요.   
(도함수는 미분된 함수를 말한다.)  
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one 함수를 x에 적용한 후에 **derivative_one**이라는 칼럼으로 df_iris에 저장합니다. (Hint : df.apply)
- derivative_one 칼럼의 합을 `res2`에 저장합니다 (소수점 세자리까지)

In [9]:
import math

def f(x):
    return 4*(x**5) +9*(x**3)+ math.e * (x**2)-7

def num_one(fx,x, dx = 1e-6):
    return (fx(x + dx) - fx(x)) / dx

In [10]:
tmp = []
for i in df_iris['x']:
    tmp.append(round(num_one(f,i),2))

df_iris['derivative_one'] = tmp
df_iris

       x  derivative_one
0    5.1        14260.40
1    4.9        12204.52
2    4.7        10381.35
3    4.6         9551.24
4    5.0        13202.19
..   ...             ...
145  6.7        41550.71
146  6.3        32611.81
147  6.5        36877.35
148  6.2        30624.27
149  5.9        25206.68

[150 rows x 2 columns]

- 이번에는 scipy의 [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)를 활용하여 **derivative_two** 칼럼으로 저장하세요.
  - dx는 1e-7로 설정합니다.
- derivative_two 칼럼의 합을 `res3`에 저장합니다 (소수점 세자리까지)

In [11]:
def foo(x, y):
  return(x**2 + y**3)

from scipy.misc import derivative
derivative(foo, 1, dx = 1e-6, args = (3, ))

2.000000000279556

In [12]:
from scipy.misc import derivative

def f(x):
    return 4*(x**5) +9*(x**3)+ math.e * (x**2)-7

tmp = []

for i in df_iris['x']:
    tmp.append(round(derivative(f, i, dx = 1e-6),3))

df_iris['derivative_two'] = tmp
df_iris

       x  derivative_one  derivative_two
0    5.1        14260.40       14260.398
1    4.9        12204.52       12204.511
2    4.7        10381.35       10381.344
3    4.6         9551.24        9551.240
4    5.0        13202.19       13202.183
..   ...             ...             ...
145  6.7        41550.71       41550.697
146  6.3        32611.81       32611.802
147  6.5        36877.35       36877.338
148  6.2        30624.27       30624.259
149  5.9        25206.68       25206.668

[150 rows x 3 columns]

## 4. 미분 연습
>아래의 함수들을 미분한 후에 **x = 5**일 때의 결과값을 `res4`, `res5`, `res6`, `res7`에 저장하세요.

 $f(x) = e^x$

In [16]:
import math

def f(x):
    return math.exp(x)

def e_prime(x):
    return derivative(f, x, dx = 1e-5)

res4 = round(e_prime(5),2)
res4

148.41

$f(x) = lnx$

In [17]:
def f(x):
    return math.log(x)

def ln_prime(x):
    return derivative(f, 5)

res5 = round(ln_prime(5),2)
res5

0.2

$f(x) = Sin(2x)$

In [19]:
def f(x):
    return math.sin(2*x)

def sine_prime(x):
    return derivative(f,5)

res6 = sine_prime(5)
res6

-0.7629655823119084

$f(x) = (2x^2 + 8x)^2$

In [20]:
def f(x):
    return (2*(x**2)+8*x)**2

def f_prime(x):
    return derivative(f,5)

res7 = f_prime(5)
res7

5152.0

## 3. 편미분

주어진 `machine learning model`의 `error function` ($\varepsilon$)이 다음과 같을 때 `error function`을 **최소화** 하는 최적의 `parameter`들을  구하세요. 그 후 결과를 각각 `p1`, `p2`에 저장하세요.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 = 100$

- 단 최적의 $p_1$은 $p_2$가 $3$일때, 최적의 $p_2$는 $p_1$이 $10$일때를 기준으로 합니다.

In [ ]:
import math

k2 = 100
def f(p1, p2):
    return (math.e*p1 - p2)**2 + k2/2*p2

def r_prime(x):
    return derivative(f, x)

r_prime()

In [23]:
from sympy import symbols, diff

p1, p2 = symbols('p1 p2', imaginary = True)

## 🔥 도전과제

### 다음 함수를 미분하세요. 이후에 x = 3일 때의 결과를 `challenge`에 저장하세요.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return None # 이곳에 답안을 작성하세요.