## *SECTION 1 / SPRINT 1 / NOTE 4*

---

# Assignment

## 1. Dataset ë¶ˆëŸ¬ì˜¤ê¸°
> seaborn ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ load_dataset()ì„ í™œìš©í•´ì„œ iris ë°ì´í„°ì…‹ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. ë°ì´í„°í”„ë ˆì„ì˜ ì´ë¦„ì€ df_irisë¡œ í•©ë‹ˆë‹¤. <br>
> df_irisì˜ shapeì˜ **ì²«ë²ˆì§¸ ê°’ì„ ë‘ë²ˆì§¸ ê°’ìœ¼ë¡œ ë‚˜ëˆˆ ê°’**ì„ `res1`ì— ì €ì¥í•˜ì„¸ìš”

In [8]:
import seaborn as sns
import numpy as np
np.random.seed(42)
# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•©ë‹ˆë‹¤.

In [9]:
df_iris = sns.load_dataset('iris')

In [10]:
res1 = df_iris.shape[0]/df_iris.shape[1]
res1

30.0

## 2. X êµ¬í•˜ê¸°
> df_irisì—ì„œ sepal_lengthë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”. ê·¸ë¦¬ê³  sepal_length ì¹¼ëŸ¼ì˜ ì´ë¦„ì€ xë¡œ ë°”ê¿‰ë‹ˆë‹¤

In [11]:
import pandas as pd
pd.DataFrame()
df_iris = pd.DataFrame(df_iris['sepal_length'])
df_iris.columns=['x']
df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

In [12]:
df_iris = df_iris[['sepal_length']]

KeyError: "None of [Index(['sepal_length'], dtype='object')] are in the [columns]"

In [13]:
df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

In [14]:
df_iris.to_frame(name='x')

AttributeError: 'DataFrame' object has no attribute 'to_frame'

## 3. ê¸°ì´ˆ ë¯¸ë¶„

ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•œ ë„í•¨ìˆ˜ë¥¼ êµ¬í•œ í›„ì— num_one í•¨ìˆ˜ë¥¼ ì™„ì„±í•˜ì„¸ìš”.   
(ë„í•¨ìˆ˜ëŠ” ë¯¸ë¶„ëœ í•¨ìˆ˜ë¥¼ ë§í•œë‹¤.)  
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one í•¨ìˆ˜ë¥¼ xì— ì ìš©í•œ í›„ì— **derivative_one**ì´ë¼ëŠ” ì¹¼ëŸ¼ìœ¼ë¡œ df_irisì— ì €ì¥í•©ë‹ˆë‹¤. (Hint : df.apply)
- derivative_one ì¹¼ëŸ¼ì˜ í•©ì„ `res2`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [17]:
import math

def f(x):
    return 4*(x**5) +9*(x**3)+ math.e * (x**2)-7

def num_one(fx,x, dx = 1e-6):
    return (fx(x + dx) - fx(x)) / dx

In [20]:
tmp = []
for i in df_iris['x']:
    tmp.append(round(num_one(f,i),2))

df_iris['derivative_one'] = tmp
df_iris

       x  derivative_one
0    5.1        14260.40
1    4.9        12204.52
2    4.7        10381.35
3    4.6         9551.24
4    5.0        13202.19
..   ...             ...
145  6.7        41550.71
146  6.3        32611.81
147  6.5        36877.35
148  6.2        30624.27
149  5.9        25206.68

[150 rows x 2 columns]

- ì´ë²ˆì—ëŠ” scipyì˜ [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)ë¥¼ í™œìš©í•˜ì—¬ **derivative_two** ì¹¼ëŸ¼ìœ¼ë¡œ ì €ì¥í•˜ì„¸ìš”.
  - dxëŠ” 1e-7ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- derivative_two ì¹¼ëŸ¼ì˜ í•©ì„ `res3`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [24]:
def foo(x, y):
  return(x**2 + y**3)

from scipy.misc import derivative
derivative(foo, 1, dx = 1e-6, args = (3, ))

2.000000000279556

In [26]:
from scipy.misc import derivative

def f(x):
    return 4*(x**5) +9*(x**3)+ math.e * (x**2)-7

tmp = []

for i in df_iris['x']:
    tmp.append(round(derivative(f, i, dx = 1e-6),3))

df_iris['derivative_two'] = tmp
df_iris

       x  derivative_one  derivative_two
0    5.1        14260.40       14260.398
1    4.9        12204.52       12204.511
2    4.7        10381.35       10381.344
3    4.6         9551.24        9551.240
4    5.0        13202.19       13202.183
..   ...             ...             ...
145  6.7        41550.71       41550.697
146  6.3        32611.81       32611.802
147  6.5        36877.35       36877.338
148  6.2        30624.27       30624.259
149  5.9        25206.68       25206.668

[150 rows x 3 columns]

## 4. ë¯¸ë¶„ ì—°ìŠµ
>ì•„ë˜ì˜ í•¨ìˆ˜ë“¤ì„ ë¯¸ë¶„í•œ í›„ì— **x = 5**ì¼ ë•Œì˜ ê²°ê³¼ê°’ì„ `res4`, `res5`, `res6`, `res7`ì— ì €ì¥í•˜ì„¸ìš”.

 $f(x) = e^x$

In [28]:
import math

def f(x):
    return math.exp(x)

def e_prime(x):
    return derivative(f, x, dx = 1e-5)

res4 = e_prime(5)
res4

148.4131590999027

$f(x) = lnx$

In [ ]:
def ln_prime(x):
    return None  # ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”

$f(x) = Sin(2x)$

In [ ]:
def sine_prime(x):
    return None  # ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”

$f(x) = (2x^2 + 8x)^2$

In [ ]:
def f_prime(x):
    return None

## 3. í¸ë¯¸ë¶„

ì£¼ì–´ì§„ `machine learning model`ì˜ `error function` ($\varepsilon$)ì´ ë‹¤ìŒê³¼ ê°™ì„ ë•Œ `error function`ì„ **ìµœì†Œí™”** í•˜ëŠ” ìµœì ì˜ `parameter`ë“¤ì„  êµ¬í•˜ì„¸ìš”. ê·¸ í›„ ê²°ê³¼ë¥¼ ê°ê° `p1`, `p2`ì— ì €ì¥í•˜ì„¸ìš”.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 = 100$

- ë‹¨ ìµœì ì˜ $p_1$ì€ $p_2$ê°€ $3$ì¼ë•Œ, ìµœì ì˜ $p_2$ëŠ” $p_1$ì´ $10$ì¼ë•Œë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ë‹ˆë‹¤.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”

## ğŸ”¥ ë„ì „ê³¼ì œ

### ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•˜ì„¸ìš”. ì´í›„ì— x = 3ì¼ ë•Œì˜ ê²°ê³¼ë¥¼ `challenge`ì— ì €ì¥í•˜ì„¸ìš”.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return None # ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”.