<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

---

# Feature Engineering

## ğŸ† í•™ìŠµ ëª©í‘œ 

- Feature Engineering ì˜ ëª©ì ì„ ì´í•´ í•  ìˆ˜ ìˆë‹¤.
- pandasë¥¼ í†µí•´ ë¬¸ìì—´(string)ì„ ë‹¤ë£° ìˆ˜ ìˆë‹¤.
- ë°ì´í„°í”„ë ˆì„ì— `.apply()`ë¥¼ ì‚¬ìš©í•˜ì—¬ í–‰ì„ ìˆ˜ì •í•˜ê±°ë‚˜ ìƒˆë¡œ ì‘ì—… í•  ìˆ˜ ìˆë‹¤.

---

## Feature Engineeringì´ë€

### ê°œìš”

Feature Engineering ì€ ë„ë©”ì¸ ì§€ì‹ê³¼ ì°½ì˜ì„±ì„ ë°”íƒ•ìœ¼ë¡œ, ë°ì´í„°ì…‹ì— ì¡´ì¬í•˜ëŠ” Featureë“¤ì„ ì¬ì¡°í•©í•˜ì—¬ ìƒˆë¡œìš´ Featureë¥¼ ë§Œë“œëŠ” ê²ƒì…ë‹ˆë‹¤. 

<img src='https://i.imgur.com/0IW7xm8.png' width = 500>

ê°€ë ¹ ìœ„ ê·¸ë¦¼ì²˜ëŸ¼ 2ê°œì˜ featureë¥¼ ê°€ì§„ ë°ì´í„°ê°€ ìˆë‹¤ë©´, 

í•´ë‹¹ featureë¥¼ ì¡°í•©í•˜ì—¬ (`+`)

ìƒˆë¡œìš´ featureë¥¼ ë§Œë“¤ì–´ ë‚¸ ë‹¤ìŒ, ì´ë¥¼ ë¶„ì„ì— ì‚¬ìš© í•  ìˆ˜ ìˆì„ ê²ƒ ì…ë‹ˆë‹¤.

ì—¬ê¸°ì„œ ì¡°í•©ì€, ë°©ê¸ˆ ë§í•œê²ƒì²˜ëŸ¼ ê°„ë‹¨í•œ ì—°ì‚° ì¼ ìˆ˜ë„ ìˆê³ 

<img src='https://i.imgur.com/AHnak4A.png' width = 500>

ì´ë¯¸ ì‹¤ìƒí™œì—ì„œ ì‚¬ìš© í•˜ê³  ìˆëŠ” ê²ƒì²˜ëŸ¼ ì¡°ê¸ˆ ë” ë³µì¡í•œ ì—°ì‚° ì¼ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.


í†µê³„ ë¶„ì„ í˜¹ì€ ë¨¸ì‹ ëŸ¬ë‹, ë” ë‚˜ì•„ê°€ ë”¥ëŸ¬ë‹ê¹Œì§€ ëŒ€ë¶€ë¶„ì˜ ë¶„ì„ì€ ë°ì´í„°ì— ìˆëŠ” íŒ¨í„´ì„ ì¸ì‹í•˜ê³ , í•´ë‹¹ íŒ¨í„´ë“¤ì„ ë°”íƒ•ìœ¼ë¡œ ì˜ˆì¸¡ì„ í•˜ê¸° ë•Œë¬¸ì—, 

ë” ì¢‹ì€ í¼í¬ë¨¼ìŠ¤ë¥¼ ìœ„í•˜ì—¬ ë” ìƒˆë¡­ê³ , ë” ì˜ë¯¸ìˆëŠ” íŒ¨í„´ì„ ì œê³µí•˜ëŠ” ê²ƒì´ ê¶ê·¹ì ì¸ Feature engineeringì˜ ëª©ì ì…ë‹ˆë‹¤.

### DataFrame

ê·¸ ì „ì— ìš°ë¦¬ê°€ ì ì°¨ ìµìˆ™í•´ì ¸ê°€ëŠ” pandasì˜ dataframeì— ëŒ€í•œ ì„¤ëª…ì„ ê°„ë‹¨í•˜ê²Œ í•˜ê² ìŠµë‹ˆë‹¤.

ì§€ê¸ˆì€ ê·¸ëƒ¥ **í…Œì´ë¸” í˜•íƒœì˜ ë°ì´í„°ë‹¤** ì •ë„ë¡œë§Œ ì´í•´í•˜ì…”ë„ ì¶©ë¶„í•©ë‹ˆë‹¤.

<img src='https://i.imgur.com/w694Hye.png' width = 500>

ì¼ë°˜ì ìœ¼ë¡œ í•˜ë‚˜ì˜ í–‰ì—ëŠ” í•˜ë‚˜ì˜ ë°ì´í„° í˜¹ì€ ê´€ì¸¡ì¹˜.

í•˜ë‚˜ì˜ ì—´ì—ëŠ” í•˜ë‚˜ì˜ featureë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì €ì¥í•˜ê¸°ë¥¼ ê¶Œì¥í•©ë‹ˆë‹¤.

ì´ë¥¼ tidy í˜•íƒœ ë¼ê³  ë¶€ë¥´ê¸°ë„ í•˜ë©°, ì´ëŠ” ì´í›„ì— ì¡°ê¸ˆ ë” ë°°ìš°ê² ì§€ë§Œ ë‹¤ë¥¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ë“¤ê³¼ì˜ í˜¸í™˜ì„±ì„ ìœ„í•´ì„œ ë¼ ìƒê°í•˜ë©´ ì¢‹ìŠµë‹ˆë‹¤.

### Dataset

ì˜¤ëŠ˜ feature engineeringì„ ì—°ìŠµí•˜ê¸° ìœ„í•´ ì‚¬ìš©í•  ë°ì´í„°ëŠ” kt&g ë¼ëŠ” ê¸°ì—…ì˜ ì¼ë¶€ ì¬ë¬´ì •ë³´ ë°ì´í„°ì´ë©° í˜•íƒœëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

<img src='https://i.imgur.com/fHop57h.png' width = 500>

<https://finance.naver.com/item/coinfo.nhn?code=033780&target=finsum_more>

In [ ]:
import pandas as pd

df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv')

df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [ ]:
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡            object
ì˜ì—…ì´ìµ           object
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
dtype: object

ë°ì´í„°ëŠ” ì „ë¶€ ìˆ«ìí˜• ë°ì´í„°ì§€ë§Œ 

ê·¸ í˜•íƒœê°€ `object`, `float64`, `int64`ë“±ìœ¼ë¡œ ë‹¤ë¥´ê²Œ í‘œí˜„ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

In [ ]:
df['ìë³¸ì´ê³„(ë¹„ì§€ë°°)']

0      NaN
1      NaN
2      NaN
3    562.0
4    566.0
Name: ìë³¸ì´ê³„(ë¹„ì§€ë°°), dtype: float64

ì¼ë‹¨ ìë³¸ì´ê³„ (ë¹„ì§€ë°°) ë¶€ë¶„ì„ ì§‘ì¤‘í•´ì„œ ë³´ë©´, `float64`ë¡œ í‘œí˜„ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

ê°’ë“¤ì´ "ì§„ì§œ" ì‹¤ìˆ˜í˜• ê°’ì¸ê°€ìš”?

ìœ„ì— ì“°ì—¬ì§„ NaNì€, Not a Numberì˜ ì¤„ì„ë§ë¡œ pandasì—ì„œ ê²°ì¸¡ì¹˜ë¥¼ í‘œí˜„í•˜ëŠ” ë°©ë²•ì…ë‹ˆë‹¤.

NaNì€ í”„ë¡œê·¸ë˜ë°ìƒ floatë¼ëŠ” typeì„ ê°–ìŠµë‹ˆë‹¤.

ì´ ë•Œë¬¸ì— 562, 566ì€ int -> floatë¡œ ì–´ì©” ìˆ˜ ì—†ì´ type castê°€ ëœ ê²ƒì…ë‹ˆë‹¤.

### ğŸ”¥ Na, Null, NaN, 0, Undefined ì˜ ì°¨ì´ë¥¼ ì•Œì•„ë³´ì„¸ìš”.

### Feature Engineering

|ìˆœì´ìµë¥ |ROE(%)|ROA(%)|
|:-:|:-:|:-:|
|25.80|12.35|9.37|
|24.36|12.67|9.95|
|9.87|12.39|9.96|
|24.94|13.05|9.79|
|22.25|12.20|9.40|

ìœ„ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ìƒˆë¡œìš´ íˆ¬ìì§€í‘œ 

"J-value" = `ROE` + `ROA`

ë¥¼ ë§Œë“¤ì–´ ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
df['j-value'] = df['ROE(%)'] + df['ROA(%)']
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)  j-value
0   19/6  12,578  3,991      3,991  ...  803.22  2,351  13.77    21.72
1   19/9  13,222  3,825      3,825  ...  836.86  2,337  13.87    22.62
2  19/12  11,982  2,523      2,523  ...  850.82    873  12.42    22.35
3   20/3  11,784  3,150      3,150  ...  823.16  2,134   9.71    22.84
4   20/6  13,188  3,947      3,947  ...  837.40  2,135  10.46    21.60

[5 rows x 26 columns]

In [ ]:
df['ìì‚°'] = df['ë¶€ì±„ì´ê³„'] + df['ìë³¸ì´ê³„']
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ... EPS(ì›) PER(ë°°) j-value            ìì‚°
0   19/6  12,578  3,991      3,991  ...  2,351  13.77   21.72  25,94082,524
1   19/9  13,222  3,825      3,825  ...  2,337  13.87   22.62  20,69185,623
2  19/12  11,982  2,523      2,523  ...    873  12.42   22.35  20,06287,059
3   20/3  11,784  3,150      3,150  ...  2,134   9.71   22.84  24,86283,732
4   20/6  13,188  3,947      3,947  ...  2,135  10.46   21.60  23,38686,896

[5 rows x 27 columns]

## String

### ê°œìš”

`25,970` + `82,524` = `108,464` ê°€ ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.

ê·¸ë ‡ì§€ë§Œ ìš°ë¦¬ì˜ ê²°ê³¼ëŠ” `25,97082,524` ì˜€ìŠµë‹ˆë‹¤.

<img src='https://i.imgur.com/80AOnF5.png' width = 500>

ì´ë²ˆì—ëŠ” ë¬¸ìì—´(string)ì„ ë‹¤ë£¨ëŠ” ë°©ë²•ì— ëŒ€í•´ì„œ ë°°ì›Œë³´ê² ìŠµë‹ˆë‹¤.

### í”„ë¡œì„¸ìŠ¤ ì†Œê°œ

<img src='https://i.imgur.com/WYQhrs8.png' width = 300>

ì•ì„œ ë°œìƒí•œ ë¬¸ì œë¥¼ í•´ê²° í•˜ê¸° ìœ„í•´ì„œ, ë‹¤ìŒê³¼ ê°™ì€ ë‹¨ê³„ë¥¼ ê±°ì³ì•¼í•©ë‹ˆë‹¤.

1. ë¬¸ìë¥¼ ìˆ«ìë¡œ ë°”ê¾¸ê¸° ìœ„í•´ **ìˆ«ìê°€ ì•„ë‹Œ ë¶€ë¶„ì„ ì œê±°**

2. ë¬¸ìë¥¼ ìˆ«ìë¡œ **í˜•ë³€í™˜**

ì¼ë°˜ì ìœ¼ë¡œ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ë§ì—ì„œëŠ” ë¬¸ìì—´ë¡œ ì´ë£¨ì–´ì§„ ê°’ì€ ì‚¬ìš©í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. (ë§¤ìš° ë³µì¡í•œ ë¬¸ì œì…ë‹ˆë‹¤.)

### string replace

<https://www.w3schools.com/python/ref_string_replace.asp>

`replace`ì˜ ì‚¬ìš©ë²•ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

**string variable**.replace(â€œì‚­ì œí•  ê¸€ìâ€œ, â€˜â€™) ì˜ í˜•íƒœë¡œ ì‚¬ìš© ( ê³µë°±ìœ¼ë¡œ ëŒ€ì¹˜ )

`s.replace(',', '')`

### ğŸ”¥ <https://www.w3schools.com/python/python_strings.asp>

In [ ]:
testString = '25,970'

In [ ]:
testString.replace(',','')

'25970'

In [ ]:
testString

'25,970'

### Type casting

<img src='https://i.imgur.com/Y15ZJoL.png' width = 400>

In [ ]:
testString = testString.replace(',','')

In [ ]:
int(testString)

25970

### as Function

<https://www.w3schools.com/python/python_functions.asp>

In [ ]:
# ì…ë ¥ëœ ë¬¸ìì—´ì— ëŒ€í•´ì„œ ê°™ì€ ì‘ì—…ì„ í•˜ëŠ” í•¨ìˆ˜ ì‘ì„±
def toInt(string):
    return int(string.replace(',',''))

In [ ]:
# ì˜ˆì‹œ ë°ì´í„°ë¥¼ ë°”íƒ•ìœ¼ë¡œ í•¨ìˆ˜ë¥¼ í…ŒìŠ¤íŠ¸
toInt('25,970')

25970

In [ ]:
type(toInt('25,970'))

int

## Apply

### ê°œìš”

<img src='https://i.imgur.com/n4vvIDr.png' width = 500>

ë°ì´í„°ì˜ ëª¨ë“  ë¬¸ìì—´ì— ëŒ€í•´ì„œ ì¼ì¼íˆ `toInt`í•¨ìˆ˜ë¥¼ ë°˜ë³µ í•  ìˆ˜ëŠ” ì—†ìŒ.

ëŒ€ì‹  `column` ë‹¨ìœ„ë¡œ í•  ìˆ˜ ìˆì§€ ì•Šì„ê¹Œ??

<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html>

### apply ì‚¬ìš©ë²•

1. apply ì•ˆì— ë“¤ì–´ê°ˆ í•¨ìˆ˜ë¥¼ ì„ ì–¸
2. columnì— apply ì ìš©.

In [ ]:
df['ìì‚°2'] = df['ìì‚°'].apply(toInt)

df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ... PER(ë°°) j-value            ìì‚°         ìì‚°2
0   19/6  12,578  3,991      3,991  ...  13.77   21.72  25,94082,524  2594082524
1   19/9  13,222  3,825      3,825  ...  13.87   22.62  20,69185,623  2069185623
2  19/12  11,982  2,523      2,523  ...  12.42   22.35  20,06287,059  2006287059
3   20/3  11,784  3,150      3,150  ...   9.71   22.84  24,86283,732  2486283732
4   20/6  13,188  3,947      3,947  ...  10.46   21.60  23,38686,896  2338686896

[5 rows x 28 columns]

In [ ]:
df['ë¶€ì±„ì´ê³„'] = df['ë¶€ì±„ì´ê³„'].apply(toInt)
df['ìë³¸ì´ê³„'] = df['ìë³¸ì´ê³„'].apply(toInt)

df['ìì‚°'] = df['ë¶€ì±„ì´ê³„'] + df['ìë³¸ì´ê³„']

df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ... PER(ë°°) j-value      ìì‚°         ìì‚°2
0   19/6  12,578  3,991      3,991  ...  13.77   21.72  108464  2594082524
1   19/9  13,222  3,825      3,825  ...  13.87   22.62  106314  2069185623
2  19/12  11,982  2,523      2,523  ...  12.42   22.35  107121  2006287059
3   20/3  11,784  3,150      3,150  ...   9.71   22.84  108594  2486283732
4   20/6  13,188  3,947      3,947  ...  10.46   21.60  110282  2338686896

[5 rows x 28 columns]