## *SECTION 2 / SPRINT 1 / NOTE 2*

# Assignment
---

# ë‹¤ì¤‘ì„ í˜•íšŒê·€(Multiple Linear Regression)

ì´ë²ˆ ê³¼ì œì—ì„œë„ n211 ê³¼ì œ ì—ì„œ ë‹¤ë£¨ì—ˆë˜ housing price datasetì„ ê°€ì§€ê³  ë°°ìš´ ë‚´ìš©ì„ ì—°ìŠµí•´ ë³´ê² ìŠµë‹ˆë‹¤.
ë‹¤ìŒ ë§í¬ì—ì„œ ë‹¤ìš´ë¡œë“œ ë°›ì•„ ì‚¬ìš©í•´ ì£¼ì„¸ìš”. [House Sales in King County, USA](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [1]:
# ë°ì´í„°ëŠ” ìºê¸€ì—ì„œ ë°›ìœ¼ì…”ë„ ë˜ê³  ì´ ë§í¬ì—ì„œ ë¶ˆëŸ¬ì™€ë„ ë©ë‹ˆë‹¤.
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')

In [2]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 1) ë°ì´í„°ëŠ” May 2014 ~ May 2015 ì˜ 2ë…„ì¹˜ ë°ì´í„°ì…ë‹ˆë‹¤. 2015-01-01 ë¶€í„° í° ë‚ ì§œì˜ ë°ì´í„°ëŠ” í…ŒìŠ¤íŠ¸, ê·¸ ì´ì™¸ì˜ ë°ì´í„°ëŠ” í›ˆë ¨ ë°ì´í„°ì…‹ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”
- **í›ˆë ¨ë°ì´í„° ìƒ˜í”Œì˜ ê°¯ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [31]:
df = df.sort_values(by='date' ,ascending= False)
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16594,9106000005,20150527T000000,1310000.0,4,2.25,3750,5000,2.0,0,0,...,8,2440,1310,1924,0,98115,47.6747,-122.303,2170,4590
13053,5101400871,20150524T000000,445500.0,2,1.75,1390,6670,1.0,0,0,...,6,720,670,1941,0,98115,47.6914,-122.308,920,6380
5637,7923600250,20150515T000000,450000.0,5,2.00,1870,7344,1.5,0,0,...,7,1870,0,1960,0,98007,47.5951,-122.144,1870,7650
21450,8562790720,20150514T000000,749950.0,4,3.50,2630,3757,2.0,0,0,...,10,2200,430,2008,0,98027,47.5322,-122.075,2620,2699
928,8730000270,20150514T000000,359000.0,2,2.75,1370,1140,2.0,0,0,...,8,1080,290,2009,0,98133,47.7052,-122.343,1370,1090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17402,1868902745,20140502T000000,805000.0,3,2.00,2710,4500,1.5,0,0,...,8,1880,830,1929,0,98115,47.6747,-122.295,2060,4500
19566,2423600100,20140502T000000,491500.0,4,1.75,2190,125452,1.0,0,2,...,9,2190,0,1968,0,98092,47.2703,-122.069,3000,125017
8300,7575600100,20140502T000000,285000.0,3,2.50,2090,10834,1.0,0,0,...,8,1360,730,1987,0,98003,47.3537,-122.303,1750,8595
14088,943100683,20140502T000000,335000.0,3,2.25,1580,16215,1.0,0,0,...,7,1580,0,1978,0,98024,47.5643,-121.897,1450,16215
8326,2493200195,20140502T000000,615000.0,3,1.75,2360,7291,1.0,0,0,...,8,1360,1000,1948,0,98136,47.5274,-122.384,1860,5499

In [32]:
train = df.iloc[0:round(len(df)*0.7)]
test = df.drop(train.index)

In [33]:
len(test)

6484

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

### 2) ë‘ íŠ¹ì„±(bathrooms, sqft_living)ì„ ì‚¬ìš©í•´ì„œ ë‹¤ì¤‘ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- í•™ìŠµì‹œ ParametersëŠ” ëª¨ë‘ ê¸°ë³¸ê°’ìœ¼ë¡œ í•©ë‹ˆë‹¤.
- **í…ŒìŠ¤íŠ¸ì„¸íŠ¸ì˜ MAE ê°’ì„ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

### 3) ëª¨ë¸ì˜ íšŒê·€ê³„ìˆ˜(coefficients)ì™€ ì ˆí¸(intercept)ì„ í™•ì¸í•´ ë³´ì„¸ìš”.
- **sqft_livingì˜ íšŒê·€ê³„ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš”

### 4) MSE, RMSE, MAE, $R^2$ ë¥¼ í›ˆë ¨/í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•´ í™•ì¸í•´ ë³´ì„¸ìš”
- **í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•œ R^2 ê°’ì„ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

## ğŸ”¥ë„ì „ê³¼ì œ

### 5) ë‘ê°€ì§€ ì´ìƒ íŠ¹ì„±ì„ ì„ íƒí•˜ì—¬ íŠ¹ì„±ê³µí•™(feature engineering)ì„ ì§„í–‰í•©ë‹ˆë‹¤. (kaggle notebookì„ ì°¸ê³ í•˜ì—¬ ì¤‘ìš”í•œ íŠ¹ì„±ì„ ê³ ë¥´ëŠ” ê²ƒì´ íŒíŠ¸ì…ë‹ˆë‹¤.)
- EDAë¥¼ ìì„¸íˆ ì§„í–‰í•˜ì„¸ìš”
- íŠ¹ì„±ê³µí•™ ê³¼ì •ì„ ìì„¸íˆ ê¸°ìˆ í•˜ì„¸ìš”
- íŠ¹ì„±ê³µí•™ì„ ê±°ì¹œ íŠ¹ì„±ì„ í¬í•¨í•´ ë‹¤ìˆ˜ì˜ íŠ¹ì„±ì„ ì‚¬ìš©í•œ ëª¨ë¸ì„ í•™ìŠµí•˜ê³  í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•´ MSE, RMSE, MAE, R2 ìŠ¤ì½”ì–´ë¥¼ ê³„ì‚°í•˜ê³  ë¶„ì„í•˜ì„¸ìš”
- ë§Œë“¤ì–´ì§„ íšŒê·€ê³„ìˆ˜ë¥¼ ì‚¬ìš©í•´ ëª¨ë¸ì„ ì„¤ëª…í•˜ì„¸ìš”.
- ëª¨ë¸ì´ ê³¼ì í•©ì¸ì§€/ê³¼ì†Œì í•©ì¸ì§€ ì„¤ëª…í•˜ì„¸ìš”.
- ë©”ì‹ ì € general ì±„ë„ì—ì„œ 4ê°œ ìŠ¤ì½”ì–´ë¥¼ ì œì‹œí•˜ê³  ë³¸ì¸ì´ ê³ ë¥¸ íŠ¹ì„±, íŠ¹ì„±ê³µí•™ ë°©ë²• ë“±ì„ ê°„ëµí•˜ê²Œ ê³µìœ í•˜ì„¸ìš”

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

## ì°¸ê³ ìë£Œ
* [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
* ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)
* [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf)
* [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
* [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)